{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-async-functions",
    "transform-regenerator"
  ],
  "ignore": [
    "client/"
  ]
}
